{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "globals": {
        "BigInt":true
    },
    "rules": {
        "semi": [1, "always"] // require or disallow use of semicolons instead of ASI
    },
    "extends": "eslint:recommended"
}